/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400&display=swap');

/*Resetting all the default values*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
    font-size: 22px;
    color: whitesmoke;
}
a{
    text-decoration: none;
}

div{
    display: block;
}
.main-content{
    position: relative;
}
body{
    background-color: black;
    display: block;
}

header {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 100;
    width: 100%;
    
    background-color: black;
    opacity: 0.9;
    
}
header a{
    text-decoration: none;
}
  
header .content {
    display: flex;
    padding: 1.5rem;
    flex-direction: row;
    justify-content: center;
    
}

  
header .logo {
    flex: 1;
    max-width: 50%;
}

  
nav li {
    display: inline-block;
    padding: 0 20px;
    width: auto;
    text-align: center;
    list-style-type: none;
   
}
  
nav a {
    vertical-align: bottom;
    line-height: 1;
    font-size: 1rem;
    color: whitesmoke;
    text-decoration: none;
}
#banner{

    background-image: url(/resources/images/wallpaperflare.com_wallpaper.jpg);
    display: flex;
    min-height:64rem;
    justify-content: center;
    align-items: center;
    height: auto;
    background-position: bottom;
    background-size:cover;
    background-repeat: no-repeat;
    border-bottom: solid 1px #c6c1c1;
}

#banner h1,
        h2,
        p{
   
    margin: 1% 7%;
    text-align: center;
    padding: 0.5rem;
    line-height: 1.5;
    
}
@media screen and (max-width: 640px){
    /* Styles for screens that are 640px wide or less */
    .logo{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .content a{
        font-size: 35px;
        padding: 10px;
        
    }
    
    header{
        display: flex;
        width: 100%;
        
        justify-items: center;
        align-items: center;
        align-content: center;
    }
    header .content{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        
        
    }
   nav ul li{
    display: none;
    }
}


.mission{
    display: flex;
    flex-direction: column;
    background-color: black;
    opacity: .9;
    
}
/*--What is climate change container--*/

.foursquarecontainer{
    position: relative;
    text-align: center;
    color: white;
    margin: 1rem auto;
    columns: 2;
    column-gap: 0;
    

}
/*--image Container styling --*/
.image-container{
    display: flex;
    position: relative;
    width: 100%;
    overflow: hidden;
    max-height: 500px;
    
    
}
.image-container img{
    width: 100%;
    height: auto;
    object-fit: cover;
    flex-grow: 1;
    flex-shrink: 1;

}
.image-container h3{
    font-size: 0.75rem
    
}
.image-container h4{
    font-style: italic;
    line-height: 1.6em;
    font-size: 1rem;
}

/*--image text background styling --*/
.background{
    position: absolute;
    display: inline-block;
    background-color: black;
    opacity: 0.6;
    top: 40%;
    width: 100%;
    padding: 5px;
}
.foursquarecontainer .image-container:hover img{
    transform:scale(1.1);
    transition: 1s;

}

.content2{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color:  rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
    
}
.image-container:hover .content2{
    opacity: 1;
}
.image-container:hover .background{
    transition: .8s;
    opacity: 0;

}
@media screen and (max-width: 640px){
    
    .foursquarecontainer{
        display: flex;
        flex-direction: column;
    }
    
}
.more-content {
    display: inline-flex;
    position: relative;
    width: 100%;
    justify-content: center;
    justify-items: center;
}

.text2{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 270px;
    height: auto;
    background-color:  rgba(39, 38, 38, 0.6);
    border-radius: 10px;
    margin-top: 2.5rem;
    opacity: 0.5;
}

.text2 p{
    display: inline;
    font-size: 32px;
    font-style: italic;
    line-height: 40px;
    color: white;
    text-align: left;
    padding: 0 2% 0 2%;
    width: 100%;


}
.nasa-link{
    display: flex;
    justify-content: left;
    align-items: baseline;
    width:  100%;
    bottom: 20%;
    color: rgb(0, 122, 221);
    font: bold;
    font-size: 1rem;
    text-decoration: underline;
    padding: 0 2% 0 2%;

    
}
.gallery-heading{
    margin: 20px 0;
    display: flex;

    height: 150px;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
}
.gallery-heading h1{
    font-size: 3em;
    text-align: center;
    font-style: oblique;
}

.gallery{
    padding: 10px;
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
}
.gallery img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
/*Vertical*/

.vertical{
    grid-row: span 2;
}

/*Horizontal*/
.horizontal{
    grid-column: span 2;
}

/* horizonal and vertical */

.v_h{
    grid-row: span 2;
    grid-column: span 2;
}

.bottom-image{
    display: block ;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0;
}
.bottom-image img{
    width: 100%;
    max-height: 700px;
    object-fit: cover;
}
.bottom-image:hover img{
    transform: scale(1.2);
    transition: 1.2s;
    
}
.bottom-image figcaption{
position: absolute;
top: 50%;
left: 5%;
background-color: black;
opacity: 0.6;
padding: 0.5rem;
font-size: 2rem;
}

.bottom-section{
    background-color: rgba(255,255,255, 80%);
    padding-bottom: 4%;
}
.resources-title h1{
    padding-top: 70px;
    display: flex;

    justify-content: center;
    font-size: 2.25rem;
    color: black;
    flex-shrink: 2;
}
.resources-title p{
    font-size: 1rem;
    color: black;
    width: 50%;
    margin: 0  auto;
    max-width: 900px;
}

.bottom-section table{
    margin: 0 auto;
    width: 75%;
    border-collapse: collapse;
    max-width: 900px;

}

.bottom-section tbody tr:hover{
    transform: scale(1.2);
    transition: ease-in 0.5s;
}

.bottom-section tbody tr, .bottom-section tbody td{
    border-bottom: 1px solid rgb(85, 84, 84);
    padding: 1.6rem;
    color: black;
    
}
td, td a, td strong, td i{
    color: black;
  
}
thead td{
    padding: 1.6rem;
}
thead tr td{
    font-size:1.2rem;
    font-weight: bold;
}
td i{ font-size: 42px;}

@media screen and (max-width: 640px){
    .resources-title h1{
        
        text-align: center;
    }
    .bottom-section{
        display: flex;
        flex-direction: column;
        
    }
}

footer{
    display: block;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0;
}
footer img{
    position: relative;
    width: 100%;
    height: 1000px;
    object-fit: cover;
}
.ftxt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top:  0; left: 0; bottom: 0; right: 0; /* stretch*/
}